{% extends "base.html" %}

{% block content %}
  <div id="page-wrapper">
        <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header"> </h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
        <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            ERROR
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="alert alert-info">
                                <ul class="list-unstyled">
                                {% for entry in result %}
                                     <li> {{ entry }} </li>
                                {% endfor %}
                                    </ul>
                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
{% endblock %}