{% extends "base.html" %}

<!doctype html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DHCP Management</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{{ url_for('static', filename='dist/css/timeline.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='dist/css/sb-admin-2.css') }}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ url_for('static', filename='bower_components/morrisjs/morris.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<title>DHCP management</title>
<div id="wrapper">
{% block content %}

    <div id="page-wrapper">
        <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">DHCP Configuration</h1>
                    </div>
                    <!-- /.col-lg-12 -->
        </div>

      <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Things to do before use
                            </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form action="TODO_add_dhcp_client" method="post"  >
                                        <div class="row">
                                             <div class="col-md-12">
                                                <div class="form-group">
                                                     <button type="submit" class="btn btn-default"> Connect to router </button>
                                             </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-lg-12">
                                    <form action="/syncconfig" method="post"  >
                                        <div class="row">
                                             <div class="col-md-12">
                                                <div class="form-group">
                                                     <button type="submit" class="btn btn-default"> Sync config </button>
                                                </div>
                                             </div>
                                        </div>
                                    </form>
                                </div>
                             </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <form action="/sync_db_with_config" method="post"  >
                                        <div class="row">
                                             <div class="col-md-12">
                                                <div class="form-group">
                                                     <button type="submit" class="btn btn-default"> Sync DB wth config </button>
                                                </div>

                                             </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                    </div>
                </div>
      </div>
    </div>
</div>


    {% endblock %}


